.lod {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.lods {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: gtw;
}
